<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
    href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alkatra:wght@500;700&family=Braah+One&family=Kaushan+Script&family=Lilita+One&display=swap"
    rel="stylesheet">
    <title>welcome to my Page</title>
  </head>
  <style>
    .row{
      color: rgb(20, 20, 20);
      font-size: 16px;
      font-weight: 700;
      font-family: 'Alfa Slab One', cursive;
          font-family: 'Alkatra', cursive;
  }
    body{
        background-color: skyblue;

    }
    h1{
        position: absolute;
        top: 40%;
        left: 30%;
        display: flex;
        color: black;
    
        font-size: 70px;
    }
    .a1{
        position: absolute;
        top: 50%;
        left: 35%;
        display: flex;
        color: black;
    
        font-size: 50px;

    }
    .button{
      position: absolute;
      top: 70%;
      left: 44%;

    }
    .btn1 a{
      color: black !important;
      text-decoration: none !important ;
    
    }
    .btn1{
      margin-right: 15px;
    }
  </style>
  <body>
    {% load static %}
  

    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MENU</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login_page">Login_page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
              </li> <li class="nav-item">
                <a class="nav-link active" aria-current="table" href="/datatable">Datatable</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/userlist">Userlist</a>
              </li>
            </li> <li class="nav-item">
              <a class="nav-link active" aria-current="" href="/market2">Market List</a>
            </li>
          </li> <li class="nav-item">
            <a class="nav-link active" aria-current="" href="/adduser">Add user</a>
          </li>
        </li> <li class="nav-item">
          <a class="nav-link active" aria-current="" href="/add_market">Add Market</a>
        </li>
      </li> <li class="nav-item">
        <a class="nav-link active" aria-current="" href="/alarm">Alarm</a>
      </li>
    </li> <li class="nav-item">
      <a class="nav-link active" aria-current="" href="/process">EDP-CIQ_EXCEL</a>
    </li>
  </li> <li class="nav-item">
    <a class="nav-link active" aria-current="" href="/process_excel">CELL_NODE_CIQ_ECXEL</a>
  </li>
</li> <li class="nav-item">
  <a class="nav-link active" aria-current="" href="/lgfile">Log_file_EXCEL</a>
</li>
    </li> <li class="nav-item">
    </li> <li class="nav-item">
      <a class="nav-link active" aria-current="" href="/forgot">forgot</a>
    </li>
      <a class="nav-link active" aria-current="" href="/account_settings">Profile</a>
    </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/datatable">Home</a></li>
                  <li><a class="dropdown-item" href="/signup">Signup.html</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/login_page">Login</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login_page">Logout</a>
              </li>
          
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      {% for message in messages %}
    <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">

      <strong>Message:</strong>{{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span></button>

    </div>
    {% endfor %}
    
    <h1>WELCOME TO MY PAGE</h1>
    <h1 class="a1">PUSHPENDRA KUMAR <br>{{variable}}
      {% block body %}
      {% endblock body %}
    </h1>
    <div class="button">
      <button type="button" class="btn1 btn btn-outline-success"><a href="/login_page">Login</a></button>
      <button type="button" class="btn1 btn btn-outline-primary"><a href="/signup">Signup</a></button>
      
   
   
  </div>
  {% if infos.is_authenticated %}
  <h2>{{firstname}}</h2>
  <h3>you are Successfully login!</h3>
  <button type="button" class="btn1 btn btn-outline-danger"><a href="/login_page">Logout</a></button>
  {% else %}

  

  
  {% endif %}

  
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  </body>
</html>