<!DOCTYPE html>
<html>
<head>
    <title>Excel Comparison</title>
</head>
<body>
    <h1>Excel Comparison</h1>
    <form action="{% url 'compare' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1">File 1:</label>
        <input type="file" id="file1" name="file1"><br><br>
        <label for="file2">File 2:</label>
        <input type="file" id="file2" name="file2"><br><br>
        <input type="submit" value="Compare">
    </form>
    <h1>Comparison Result</h1>
    <p>{{ result }}</p>
    <br>
    {% if download_link %}
        <a href="{{ download_link }}">Download Grouped Differences</a>
    {% endif %}
</body>
</html>
